PORT=3000
NODE_ENV=development

# Konfigurasi Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=snbpredict_db
DB_USER=postgres
DB_PASSWORD=isi_password_postgres_kamu

# JWT
JWT_SECRET=snbpredict_rahasia_super_panjang_2024
JWT_EXPIRES=7d

# URL Model AI (dari tim AI Engineer)
AI_MODEL_URL=http://localhost:5000
